[Unit]
Description=Starts softshut for Pi Switch
DefaultDependencies=false
Wants=systemd-journald.service

[Service]
Type=simple
ExecStart=/opt/piswitch/softshut.py
WorkingDirectory=/opt/piswitch/

[Install]
WantedBy=sysinit.target

